{{define "base"}}
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  {{ .Stylesheet }}
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <img class="avatar" src="{{.User.Avatar}}" alt="kk" height="42" width="42">
          <a class="brand" href="/">GoShip</a>
        </div>
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
            {{if .Page}}
            <li{{if eq .Page "home"}} class="active"{{end}}>
              <a href="/">Home</a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{template "body" .}}
  {{ .Javascript }}
</body>
</html>
{{end}}
