{{define "body"}}
  <div class="container contents">
  <h2>Deployment Log</h2>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Deployed Diff</th>
      <th>Result</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
   {{$env := .Env}}
   {{range $deployment := .Deployments}}
     <tr>
     <td>{{.FormattedTime}}</td>
     <td>{{.User}}</td>
     <td><a href="{{.DiffURL}}">{{.ToRevisionMsg}}</a></td>
     {{if .Success}}
     <td><span class="label label-success">Success</span></td>
     {{else}}
     <td><span class="label label-danger">Failure</span></td>
     {{end}}

     <td>
       <a href="/output/{{$env}}/{{.Time}}">Output</a>
     </td>
     </tr>
  {{end}}
  </tbody>
  </table>
  </div>
{{end}}
