{{define "body"}}
  <style type="text/css">
  div.main {
    font-family: monospace;
    color: white;
    background-color: black;
    padding: 5px;
  }
  </style>
  <div class="container contents">
    <div class="main"></div>
  </div>
  <script>
    $(function() {
      var ws = new WebSocket("ws://{{.GoshipHost}}:{{.Port}}/web_push");
      var project = {{.Project}};
      var environment = {{.Env}};
      var user = {{.User}};
      var diffUrl = {{.DiffUrl}};
      ws.onopen = function () {
        $.post('deploy_handler', { project: project, environment: environment, user: user, diffUrl: diffUrl});
      }
      ws.onmessage = function(e) {
        var obj = jQuery.parseJSON(e.data);

        if(obj.Project == project && obj.Environment == environment) {
          $(".main").append($("<div>").text(obj.StdoutLine));
        }
      };
    });
  </script>
{{end}}
