{{define "body"}}
  <div class="container contents">
    <div class="row">
      <div class="span6">
        {{range $project := .Projects}}
        <div class="project" data-id="{{$project.Name}}">
          <h3><a href="#" class="refresh">↻</a> {{.Name}}</h3>
          <div class="deployments">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="column-environment">Environment</th>
                <th class="column-hosts">Hosts</th>
                <th class="column-deployed-revision">Deployed Revision</th>
                {{/* add and display the header of all plugins' columns */}}
                {{range $project.PluginColumns}}
                  {{.RenderHeader}}
                {{end}}
                <th class="column-deploy"></th>
                <th class="column-comment">  </th>
              </tr>
            </thead>
            <tbody>
            {{range $environment := .Environments}}
              <tr class="environment" data-id="{{$environment.Name}}">
                <td><a href="/deployLog/{{$project.Name}}-{{.Name}}">{{.Name}}</a></td>
                <td>
                  {{range $host := $environment.Hosts}}
                    <div>{{$host.URI}}</div>
                  {{end}}
                </td>
                <td class="hosts">
                  Loading...
                </td>
                {{/* add and display the main content (through Render) of all plugins' columns */}}
                {{range $project.PluginColumns}}
                  {{.RenderDetail}}
                {{end}}
                <td>
                  <form class="form-deploy hidden" method="POST" action="/deploy" target="_blank" style="margin-bottom: 0">
                    <input type="hidden" name="environment" value="{{$environment.Name}}"/>
                    <input type="hidden" name="project" value="{{$project.Name}}"/>
                    <input type="hidden" name="repo_owner" value="{{$project.RepoOwner}}"/>
                    <input type="hidden" name="repo_name" value="{{$project.RepoName}}"/>
                    <input type="hidden" name="from_revision" value=""/>
                    <input type="hidden" name="to_revision" value=""/>
                    <input type="hidden" name="user" value="PlaceholderUser"/>
                    <input type="submit" class="btn btn-success" value="Deploy" />
                  </form>
                </td>
                <td class="comment">
                  <span title="" class="hidden glyphicon glyphicon-comment"></span>
                </td>
              </tr>
            {{end}}
            </tbody>
          </table>
          </div>
        </div>
        {{end}}
      </div>
      <div class="span6">
      </div>
    </div>
  </div>

  <div class="hidden" id="host-skeleton"><a class="GitHubCommitURL" href=""></a> <span class="hidden"> (<a class="GitHubDiffURL" href="">diff</a>)</span></div>

  {{ if .ConfirmDeployFlag }}
  <script type="text/javascript">
  (function($){
    $('form.form-deploy').submit(function(e){
        var env = $(this).parents('tr.environment').data('id');
        var project = $(this).find('input[name="project"]').val();
        return confirm('Are you sure you wish to deploy ' + project + ' to ' + env + '?');
    });
  }(jQuery));
  </script>
  {{ end }}
{{end}}
