<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <style type="text/css">
  .header {
  }
  .column-environment {
    width: 15%;
  }
  .column-hosts {
    width: 45%;
  }
  .column-deployed-revision {
    width: 25%;
  }
  .column-deploy {
    width: 15%;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12 header">
        <h1>GoShip</h1>
      </div>
      <div class="span6">
        {{range $project := .Projects}}
        <div class="project">
          <h3>{{.Name}}</h3>
          <div class="deployments">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="column-environment">Environment</th>
                <th class="column-hosts">Hosts</th>
                <th class="column-deployed-revision">Deployed Revision</th>
                <th class="column-deploy"></th>
              </tr>
            </thead>
            <tbody>
            {{range $environment := .Environments}}
              <tr>
              <td>{{.Name}}</td>
              <td>
                {{range $host := $environment.Hosts}}
                  <div>{{$host.URI}}</div>
                {{end}}
              </td>
              <td>
                {{range $host := $environment.Hosts}}
                  {{if $environment.Deployable}}
                    <div><a href="{{$host.GitHubCommitURL $project}}">{{$host.ShortCommitHash}}</a> (<a href="{{$host.GitHubDiffURL $project $environment}}">diff</a>)</div>
                  {{else}}
                    <div><a href="{{$host.GitHubCommitURL $project}}">{{$host.ShortCommitHash}}</a></div>
                  {{end}}
                {{end}}
              </td>
              <td>
              {{if $environment.Deployable }}
                <form method="POST" action="/deploy" style="margin-bottom: 0">
                  <input type="hidden" name="environment" value="{{$environment.Name}}"/>
                  <input type="hidden" name="project" value="{{$project.Name}}"/>
                  <input type="hidden" name="user" value="PlaceholderUser"/>
                    {{range $i, $host := $environment.Hosts}}
                    {{if not $i}}
                      <input type="hidden" name="diffUrl" value="{{$host.GitHubDiffURL $project $environment}}"/>
                    {{end}}
                    {{end}}
                  <input type="submit" class="btn btn-success" value="Deploy" />
                </form>
              {{end}}
              </td>
              </tr>
            {{end}}
            </tbody>
          </table>
          </div>
        </div>
        {{end}}
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</body>
</html>
