<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <style type="text/css">
  body, h1, h2, h3 {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica,Arial,sans-serif
  }
  .brand {
    font-size: 32px;
    margin-left: -20px;
    margin-right: 20px;
    color: #fff;
  }
  .contents {
    margin-top: 60px;
  }
  .column-environment {
    width: 15%;
  }
  .column-hosts {
    width: 45%;
  }
  .column-deployed-revision {
    width: 25%;
  }
  .column-deploy {
    width: 15%;
  }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <a class="brand" href="/">GoShip</a>
        </div>
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            {{if .ShowPullsLink}}
              <li class="">
                <a href="/pulls">Pull Requests</a>
              </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="row">
      {{$goshipHost := .GoshipHost}}
      <div class="span6">
        {{range $project := .Projects}}
        <div class="project" data-id="{{$project.Name}}">
          <h3>{{.Name}}</h3>
          <div class="deployments">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="column-environment">Environment</th>
                <th class="column-hosts">Hosts</th>
                <th class="column-deployed-revision">Deployed Revision</th>
                <th class="column-deploy"></th>
              </tr>
            </thead>
            <tbody>
            {{range $environment := .Environments}}
              <tr class="environment" data-id="{{$environment.Name}}">
                <td><a href="/deployLog/{{$project.Name}}-{{.Name}}">{{.Name}}</a></td>
                <td>
                  {{range $host := $environment.Hosts}}
                    <div>{{$host.URI}}</div>
                  {{end}}
                </td>
                <td class="hosts">
                  Loading...
                </td>
                <td>
                  <form class="form-deploy hidden" method="POST" action="/deploy" style="margin-bottom: 0">
                    <input type="hidden" name="environment" value="{{$environment.Name}}"/>
                    <input type="hidden" name="project" value="{{$project.Name}}"/>
                    <input type="hidden" name="user" value="PlaceholderUser"/>
                    <input type="hidden" name="diffUrl" value=""/>
                    <input type="hidden" name="goshipHost" value="{{$goshipHost}}"/>
                    <input type="submit" class="btn btn-success" value="Deploy" />
                  </form>
                </td>
              </tr>
            {{end}}
            </tbody>
          </table>
          </div>
        </div>
        {{end}}
      </div>
      <div class="span6">
      </div>
    </div>
  </div>

  <div class="hidden" id="host-skeleton"><a class="GitHubCommitURL" href=""></a> <span class="hidden"> (<a class="GitHubDiffURL" href="">diff</a>)</span></div>

  <script type="text/javascript">

  $(function(){
    var $hostSkeleton = $("#host-skeleton");

    // make ajax queries for each project
    $('.project').each(function(){
      var $project = $(this),
          projectId = $project.attr('data-id');
      $.ajax({
        type: 'GET',
        url: '/commits/' + projectId,
        dataType: 'json',
        success: function(response) {
          var environments = response.Environments,
            project = response.Name,
            $project = $("[data-id='" + project +"']");

          for (var e = 0; e < environments.length; e++) {
            var env = environments[e];
            var $env = $project.find('.environment[data-id="'+ env.Name +'"]');
            var $hosts = $env.find('.hosts');
            $hosts.text('');

            for (var h = 0; h < env.Hosts.length; h++) {
              var host = env.Hosts[h];
              var $host = $hostSkeleton.clone().removeClass('hidden');
              $host.find('.GitHubCommitURL').attr({
                'href': host.GitHubCommitURL
              }).text(host.ShortCommitHash);
              $hosts.append($host);
              if (host.GitHubDiffURL) {
                $host.find('.GitHubDiffURL').attr('href', host.GitHubDiffURL).closest('span.hidden').removeClass('hidden');
              }
            }
            if (env.IsDeployable) {
              for (var h = 0; h < env.Hosts.length; h++) {
                var host = env.Hosts[h];
                if (host.GitHubDiffURL) {
                  $env.find(".form-deploy").removeClass('hidden').find('[name="diffUrl"]').val(host.GitHubDiffURL);
                  break;
                }
              }
            }
          }
        }
      });
    });
  });
  </script>
</body>
</html>
