<div class="project">
  <h3>{{.Name}}</h3>
  <div class="deployments">
    {{range $environment := .Environments}}
    <div>
      <h4>{{.Name}}</h4>
      {{range $host := $environment.Hosts}}
        {{if eq $environment.LatestGitHubCommit $host.LatestCommit}}
            <div>{{$host.URI}}: <a href="{{$project.GitHubURL}}/commit/{{$environment.LatestGitHubCommit}}">{{$host.ShortCommitHash}}</a></div>
        {{else}}
            <form method="POST" action="/deploy">
                <input type="hidden" name="environment" value="{{$environment.Name}}"/>
                <input type="hidden" name="project" value="{{$project.Name}}"/>
            <div>{{$host.URI}}: <a href="{{$project.GitHubURL}}/commit/{{$environment.LatestGitHubCommit}}">{{$host.ShortCommitHash}}</a> (<a href="{{$project.GitHubURL}}/compare/{{$host.LatestCommit}}...{{$environment.LatestGitHubCommit}}">diff</a>) <input type="submit" class="btn btn-success" value="Deploy" /></div>
            </form>
        {{end}}
      {{end}}
    </div>
    {{end}}
  </div>
</div>