<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <style type="text/css">
  body, h1, h2, h3 {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica,Arial,sans-serif
  }
  .brand {
    font-size: 32px;
    margin-left: -20px;
    color: #fff;
  }
  .contents {
    margin-top: 80px;
  }
  .column-repository {
    width: 15%;
  }
  .column-pull-requests {
    width: 70%;
  }
  .column-user {
    width: 15%;
  }
  .additions {
    color: green
  }
  .deletions {
    color: red
  }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h1><a class="brand" href="/">GoShip</a></h1>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="/">Home</a>
            </li>
            <li class="active">
              <a href="/pulls">Pull Requests</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container contents">
    <div class="row">
      <div class="span6">
        {{range $org := .Orgs}}
        <h3>{{$org.Name}}</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="column-repository">Repository</th>
              <th class="column-pull-requests">Pull Requests</th>
              <th class="column-user">User</th>
            </tr>
          </thead>
          <tbody>
          {{range $repo := $org.Repositories}}
          {{range $i, $pr := $repo.PullRequests}}
            <tr>
            <td>{{if not $i}}<a href="{{$repo.HTMLURL}}">{{$repo.Name}}</a>{{end}}</td>
            <td><a href="{{$pr.HTMLURL}}" target="_blank">{{$pr.Title}}</a><span class="additions"> +{{$pr.Additions}}</span>/<span class="deletions">-{{$pr.Deletions}}</span></td>
            <td><img src="{{$pr.User.AvatarURL}}" style="width:25px; margin: 0 10px;">{{$pr.User.Login}}</td>
            </tr>
          {{end}}
          {{end}}
          </tbody>
        </table>
        {{end}}
      </div>
    </div>
  </div>
</body>
</html>
